[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,

[FORMAT]
max-line-length=90

[BASIC]
good-names=e, logger, id
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__)|([A-Z][a-z0-9]+Router))$

[SIMILARITIES]
ignore-imports=yes

[MASTER]
extension-pkg-whitelist=pydantic

